name: Check
on: [push, pull_request]
permissions:
  contents: read
jobs:
  main:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: development
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Check
        run: pnpm check
      - name: Check format
        run: pnpm check:format
      - name: Lint
        run: pnpm lint
